[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.cubemap
*.launch
*.preferences
*.tmproj
*.csproj
*.pidb.meta
*.sln
*.sln.meta
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.stackdump
*.log
*.log*
